.navbar {
  width: 100%;
  padding: 30px 0;
  box-sizing: border-box;
  margin-bottom: 80px;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
}
.navbar .logo {
  font-weight: bold;
  color: var(--heading-color);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar .logo.dark {
  color: var(--heading-color-dark);
}
.navbar .logo img {
  margin-right: 10px;
  filter: invert(25%);
  width: 36px;
  margin-top: -8px;
}
.navbar .logo.dark img {
  filter: invert(100%);
}
.navbar a {
  text-decoration: none;
  margin-right: 20px;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  font-family: Poppins, sans-serif;
  padding: 10px 20px;
  font-size: 1em;
}
.navbar a:hover {
  color: black;
  background: linear-gradient(to right, #E040FB, #9C27B0);
}

a.dark {
  background: linear-gradient(to right, #fbfafb, #4b4a4b);
  color: rgb(245, 245, 245)
}

a.dark:hover {
  color: rgb(2, 2, 2);
  background: white;
}