.auth-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
  background: #fff;
}

.auth-form.dark {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.05);
  background: rgb(8, 8, 8);
}