@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root {
  --heading-color: #444;
  --heading-color-dark: rgb(251, 251, 251);
  --text-color: #999;
  --text-color-dark: rgb(251, 251, 251);
  --primary-color: #0f03ec;
  --primary-color-dark: #ffffff;
  --highlight-color: #d13267;
  --bg-color: #a9cef3;
}

/* base styles */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1.1em;
  background: var(--bg-color);
}
ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */
.page-title {
  font-size: 1em;
  color: var(--heading-color);
  display: inline-block;
}
.page-title.dark {
  color: var(--heading-color-dark);
}
.dark {
  color: var(--heading-color-dark);
}

/* .btn {
  background: linear-gradient(to right, #778ae9, #aec4ef);
  padding: 8px 12px;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  font-size: 1em;
  border: 0.1px solid var(--primary-color);
} */
.btn {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Poppins, sans-serif;
    margin-left: 5%;
    font-size: 1em;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.btn:hover {
  color: black;
  background: linear-gradient(to right, #E040FB, #9C27B0);
}
.btn.dark {
  background: linear-gradient(to right, #fbfafb, #4b4a4b);
  color: black
}
.btn.dark:hover {
  color: rgb(2, 2, 2);
  background: white;
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
}
input, textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
textarea {
  min-height: 160px;
}
.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}