@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root {
  --heading-color: #444;
  --heading-color-dark: rgb(251, 251, 251);
  --text-color: #999;
  --text-color-dark: rgb(251, 251, 251);
  --primary-color: #0f03ec;
  --primary-color-dark: #ffffff;
  --highlight-color: #d13267;
  --bg-color: #86c6de;
}

/* base styles */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1.1em;
  background: var(--bg-color);
}
ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */
.page-title {
  font-size: 1em;
  color: var(--heading-color);
  display: inline-block;
}
.page-title.dark {
  color: var(--heading-color-dark);
}
.dark {
  color: var(--heading-color-dark);
}

.btn {
  background: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1em;
  border: 1px solid var(--primary-color);
}
.btn.dark {
  background: rgb(10, 10, 10);
  color: var(--primary-color-dark);
  border: 1px solid black;
}
.btn.dark:hover {
  color: rgb(2, 2, 2);
  background-color: var(--primary-color-dark);
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
}
input, textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
textarea {
  min-height: 160px;
}
.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}